<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
</head>

<body>
<div class="container">
<header>
   <img class="logo" src="image/gawegawe.png">
   <h1>Walcome to My Website</h1>
</header>
<div>
	<ul>
	  <li><a class="active" href="E:\@D\Photoshop\Web Progrem 1\HOMEPAGE.html">Home</a></li>
	  <li><a href="E:\@D\Photoshop\Web Progrem\home.html">News</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li style="float:right"><a href="#about">About</a></li>
	</ul>
</div>

<div class="content">
	<div class="subc"></div>
	<div class="subc"></div>
	<div class="subc"></div>
</div>


<div class="footer1" >
	<div class="bkprofil">
		<img class="profil" src="image/Avatar.png" >
		<h2>Deandy Vinandito Prabowo</h2>
		<h3>Informatika</h3>
		<h4>16.11.0413</h4>
	</div>
</div>
<footer>Copyright &copy; GaweGawe.com</footer>

</div>


</body>
</html>